fieldset.carousel {
  border: none; }
  fieldset.carousel::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  fieldset.carousel::-webkit-scrollbar-button:end:increment, fieldset.carousel::-webkit-scrollbar-button:start:decrement, fieldset.carousel::-webkit-scrollbar-button:vertical:end:decrement, fieldset.carousel::-webkit-scrollbar-button:vertical:start:increment {
    display: none; }
  fieldset.carousel::-webkit-scrollbar-track-piece:vertical {
    background-color: transparent; }
  fieldset.carousel::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 10px 10px 0 0;
    background-color: transparent; }
  fieldset.carousel::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 10px 10px;
    background-color: transparent; }
  fieldset.carousel::-webkit-scrollbar-thumb:vertical {
    height: 56px;
    border-radius: 10px;
    background-color: #494949; }

.carousel-labels li {
  box-sizing: border-box;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background: #ffffff; }

.carousel-labels li p {
  font-size: 1rem;
  margin: 0;
  text-align: center; }

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25em;
  box-sizing: border-box;
  margin: auto; }
  .carousel ul {
    margin: 0;
    padding: 0; }
  .carousel div {
    display: flex;
    align-items: center; }
    .carousel div ul {
      display: flex;
      align-items: stretch;
      width: 40em;
      overflow: hidden; }
    .carousel div li {
      border: 1px solid green;
      justify-content: center;
      flex: 0 0 40em;
      transition: left 200ms;
      position: relative;
      left: 0; }
    .carousel div .left0 li {
      left: 0em; }
    .carousel div .left1 li {
      left: -40em; }
    .carousel div .left2 li {
      left: -80em; }
    .carousel div .left3 li {
      left: -120em; }
    .carousel div .left4 li {
      left: -160em; }
    .carousel div .left5 li {
      left: -200em; }
    .carousel div .left6 li {
      left: -240em; }
    .carousel div .left7 li {
      left: -280em; }
    .carousel div .left8 li {
      left: -320em; }
    .carousel div .left9 li {
      left: -360em; }
    .carousel div .left10 li {
      left: -400em; }
    .carousel div .left11 li {
      left: -440em; }
    .carousel div .left12 li {
      left: -480em; }
    .carousel div .left13 li {
      left: -520em; }
    .carousel div .left14 li {
      left: -560em; }
    .carousel div .left15 li {
      left: -600em; }
    .carousel div .left16 li {
      left: -640em; }
    .carousel div .left17 li {
      left: -680em; }
    .carousel div .left18 li {
      left: -720em; }
    .carousel div .left19 li {
      left: -760em; }

/*/ RADIO BUTTONS /*/
.carousel-radios {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  list-style-type: none;
  margin: auto; }

.carousel-radios li {
  flex: 0 1 19px;
  text-align: center;
  position: relative; }

.carousel-radios li input {
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  z-index: 2; }

.carousel-radios li input:focus {
  background-color: black; }

.carousel-radios li span {
  position: absolute;
  left: 3px;
  top: 3px;
  display: block;
  width: 10px;
  height: 10px;
  border: 1.5px solid red;
  border-radius: 50%;
  z-index: 1; }

.carousel-radios li :checked + span {
  background-color: #990000; }

.carousel-radios li :focus + span {
  outline: 1px dashed #990000; }

/*/ ARROWS /*/
.forward,
.backward {
  background: none;
  border: none;
  color: red;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-style: none none solid solid;
  transform: rotate(45deg);
  cursor: pointer;
  box-sizing: border-box; }

.forward:hover,
.backward:hover,
.forward:focus,
.backward:focus {
  color: #990000;
  outline: none;
  box-shadow: none;
  border-width: 4px; }

.forward {
  border-style: solid solid none none; }

/*/ ARROWS /*/
.forward,
.backward {
  transform: translatex(3em) rotate(45deg);
  z-index: 100;
  position: relative; }
  .forward:before,
  .backward:before {
    content: "";
    position: absolute;
    top: -0.5em;
    bottom: -0.5em;
    left: -1em;
    right: -1em;
    background: rgba(255, 255, 255, 0.3);
    transform: rotate(-45deg); }
  .forward:focus:before,
  .backward:focus:before {
    outline: 3px solid black; }

.forward {
  transform: translatex(-3em) rotate(45deg); }

.forward:after {
  border-style: none solid solid none; }

.carousel-labels label {
  display: block;
  height: 100%;
  width: 100%; }

input[type=radio],
legend {
  opacity: 0;
  position: absolute; }

body {
  font-family: verdana; }

label {
  display: flex;
  flex-direction: column;
  align-content: center; }

/*# sourceMappingURL=unicorns.css.map */
