  // --------------------------------
  // hide the legend and radio buttons 
  // from sited users 
  // without using display; none;
  // pick your favorite from the combos below
  // --------------------------------
  
  input[type=radio], 
  legend {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    text-indent: 1px;
  }

