.carousel-labels li {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: $carouselRadius;
}
.carousel-labels li p {
  margin: 0; 
  text-align: center;
}

.carousel {
  ul {
    margin: 0;
    padding: 0;
  }
    display: flex;
    align-items: center;
    justify-content: center;
    width: $carouselWidth + 5em;
    box-sizing: border-box;
    margin: auto; 
  div {
    display: flex;
    align-items: center;
      ul {
        display: flex;
        align-items: stretch; 
        width: $carouselWidth;
        overflow: hidden;
      }
      li {
        border: $carouselBorder;
        justify-content: center;
        flex: 0 0 $carouselWidth;
        transition: left 200ms;
        position: relative;
        left: 0; 
      }
    $count: 0;
    @while $count < 20 {
      .left#{$count} li {
        left: $count * $carouselWidth * -1
      }
      $count: $count + 1
    }

  }
}
